@import "../mixin";

*{
  text-align: justify;
}

.sidebar{
  height: 100%;
  position: relative;
  .wrapper{
    padding-top: 140px;
    max-width: 100%;
    @include breakpoint(tablet){
      padding-top: 0;
    }
  }
  .link{
    @include breakpoint(tablet){
      display: block;
    }
  }
  .logo{
    max-width: 100%;
    @include breakpoint(tablet){
      display: block;
      margin: auto;
    }
  }
  .page_title{
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
  }
  @include breakpoint(tablet){
    margin-bottom: 50px;
  }

}

.label{
  font-size: 18px;
  margin: auto;
  text-align: center;
}

.visible{
  display: block;
}

.desktop-hidden{
  @include breakpoint(desktop){
    display: none;
  }
}

.tablet-hidden{
  @include breakpoint(tablet){
    display: none;
  }
}

.tablet-visible{
  @include breakpoint(tablet){
    display: block!important;
  }
}

.mobile-hidden{
  @include breakpoint(mobile){
    display: none;
  }
}