<div class="footer">
    <div class="container">
        <div class="row navbar">
            <div class="footer__tel">
                <a class="phone__link" href="tel:+33681088938">
                    <span class="phone__number">06.81.08.89.38</span>
                </a>
            </div>
            <div class="footer__social pull-right">
                <a href="https://www.facebook.com/magicprojectgraphic/" class="footer__icon facebook"></a>
                <a href="https://twitter.com/FlorianoProject" class="footer__icon twitter"></a>
                <a href="https://plus.google.com/u/0/104934764472807153159/posts" class="footer__icon google"></a>
            </div>
        </div>
        <div class="row">
            <div class="copyright">Copyright © {{ copyright }} Magic Project All right reserved</div>
        </div>
    </div>
</div>