.footer{

  background-color: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;

  //&:before{
  //  content: '';
  //  background: black;
  //  width: 100%;
  //  position: absolute;
  //  height: 30px;
  //  top: -29px;
  //  border-radius: 100% 0 0 0;
  //}

  .phone{
    &__link{
      text-decoration: none;
    }
    &__number{
      font-size: 25px;
      color: white;
      transition: color 300ms;
      @include breakpoint(mobile){
        font-size: 20px;
      }
      &:before{
        content: '';
        display: inline-block;
        width: 20px;
        height: 25px;
        margin-right: 10px;
        vertical-align: middle;
        background:{
          repeat: no-repeat;
          size: contain;
          image: url('../images/phone.svg');
        }
      }
      &:hover{
        color: red;
      }
    }
  }

  &__icon{

    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background:{
      repeat: no-repeat;
      size: contain;
    }

    &.facebook{
      background-image: url('../images/facebook.svg');
    }
    &.twitter{
      background-image: url('../images/twitter.svg');
    }
    &.google{
      background-image: url('../images/google.svg');
    }

  }

  .copyright{
    display: block;
    text-align: center;
    width: 100%;
    color: #919191;
  }

}
