/* line 3, ../../../sass/sass/include/page/page.scss */
.page {
  padding-top: 15vh !important;
  position: relative;
  min-height: 100vh;
}
@media (max-width: 1199px) {
  /* line 3, ../../../sass/sass/include/page/page.scss */
  .page {
    padding-top: 50px !important;
  }
}
/* line 10, ../../../sass/sass/include/page/page.scss */
.page__bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
}
@media (max-width: 1199px) {
  /* line 10, ../../../sass/sass/include/page/page.scss */
  .page__bottom {
    position: initial;
  }
}
/* line 18, ../../../sass/sass/include/page/page.scss */
.page .content {
  padding-bottom: 100px;
}

/* line 23, ../../../sass/sass/include/page/page.scss */
.section {
  margin-bottom: 50px;
}
@media (max-width: 1199px) {
  /* line 23, ../../../sass/sass/include/page/page.scss */
  .section {
    margin-bottom: 0;
  }
}
/* line 28, ../../../sass/sass/include/page/page.scss */
.section.text-image {
  margin-bottom: 80px;
}
