/* line 3, ../../../sass/sass/include/page/slider.scss */
.image_gallery .slider-nav {
  overflow: hidden;
  position: relative;
}
/* line 6, ../../../sass/sass/include/page/slider.scss */
.image_gallery .slider-nav img {
  cursor: pointer;
  filter: brightness(1);
  transition: filter 200ms;
}
/* line 10, ../../../sass/sass/include/page/slider.scss */
.image_gallery .slider-nav img:hover {
  filter: brightness(0.8);
}
/* line 17, ../../../sass/sass/include/page/slider.scss */
.image_gallery .slider-for img {
  cursor: pointer;
  filter: brightness(1);
  transition: filter 200ms;
}
/* line 21, ../../../sass/sass/include/page/slider.scss */
.image_gallery .slider-for img:hover {
  filter: brightness(0.8);
}
/* line 27, ../../../sass/sass/include/page/slider.scss */
.image_gallery .slick-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  height: 35px;
  width: 50px;
}
/* line 34, ../../../sass/sass/include/page/slider.scss */
.image_gallery .slick-arrow:before {
  content: '';
  background-image: url("../images/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: block;
}
/* line 48, ../../../sass/sass/include/page/slider.scss */
.image_gallery .slick-prev {
  top: 0;
}
/* line 50, ../../../sass/sass/include/page/slider.scss */
.image_gallery .slick-prev:before {
  transform: rotate(90deg);
}
/* line 55, ../../../sass/sass/include/page/slider.scss */
.image_gallery .slick-next {
  top: auto;
  bottom: 0;
}
/* line 58, ../../../sass/sass/include/page/slider.scss */
.image_gallery .slick-next:before {
  transform: rotate(-90deg);
}
/* line 64, ../../../sass/sass/include/page/slider.scss */
.image_gallery .slick-dots li {
  display: none;
}
/* line 69, ../../../sass/sass/include/page/slider.scss */
.image_gallery .full_screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 999;
}
/* line 77, ../../../sass/sass/include/page/slider.scss */
.image_gallery .full_screen__close {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  transform: rotate(45deg);
}
/* line 85, ../../../sass/sass/include/page/slider.scss */
.image_gallery .full_screen__close .close_1, .image_gallery .full_screen__close .close_2 {
  transition: all 300ms;
  display: block;
  border-radius: 2px;
  background-color: white;
  width: 40px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 96, ../../../sass/sass/include/page/slider.scss */
.image_gallery .full_screen__close .close_1 {
  transform: rotate(90deg) translate(0px, 20px);
}
/* line 99, ../../../sass/sass/include/page/slider.scss */
.image_gallery .full_screen__close .close_2 {
  transform: translate(-20px, 0);
}
/* line 103, ../../../sass/sass/include/page/slider.scss */
.image_gallery .full_screen__close:hover .close_1, .image_gallery .full_screen__close:hover .close_2 {
  background-color: red;
}
/* line 108, ../../../sass/sass/include/page/slider.scss */
.image_gallery .full_screen__image {
  max-width: 80vw;
  max-height: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 118, ../../../sass/sass/include/page/slider.scss */
.image_gallery .full_screen.visible {
  display: block;
}

/* line 126, ../../../sass/sass/include/page/slider.scss */
.video_gallery .thumbnail__group {
  margin: 0 -5px;
}
/* line 129, ../../../sass/sass/include/page/slider.scss */
.video_gallery .thumbnail__link {
  padding: 5px;
  cursor: pointer;
  position: relative;
}
/* line 135, ../../../sass/sass/include/page/slider.scss */
.video_gallery .thumbnail__link:hover .thumbnail__image {
  filter: grayscale(100%);
}
/* line 138, ../../../sass/sass/include/page/slider.scss */
.video_gallery .thumbnail__link:hover .thumbnail__play {
  opacity: 1;
}
/* line 144, ../../../sass/sass/include/page/slider.scss */
.video_gallery .thumbnail__image {
  width: 100%;
  max-width: 100%;
  filter: grayscale(0);
  transition: all 300ms;
}
/* line 150, ../../../sass/sass/include/page/slider.scss */
.video_gallery .thumbnail__play {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: all 300ms;
}
/* line 167, ../../../sass/sass/include/page/slider.scss */
.video_gallery .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  height: 35px;
  width: 50px;
}
/* line 174, ../../../sass/sass/include/page/slider.scss */
.video_gallery .slick-arrow:before {
  content: '';
  background-image: url("../images/arrow_black.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: block;
}
/* line 188, ../../../sass/sass/include/page/slider.scss */
.video_gallery .slick-prev {
  left: -40px;
}
/* line 194, ../../../sass/sass/include/page/slider.scss */
.video_gallery .slick-next {
  right: -40px;
}
/* line 196, ../../../sass/sass/include/page/slider.scss */
.video_gallery .slick-next:before {
  transform: rotate(180deg);
}
