@import "../common/color";
@import "../mixin";

.menu{

  .menu_logo{
    position: absolute;
    max-width: 130px;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
  }

  &__burger{
    width: 40px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    .burger{
      width: 40px;
      height: 4px;
      background-color: black;
      position: absolute;
      border-radius: 2px;
      transition: all 300ms;
      &:first-child{
        top: 0;
      }
      &:nth-child(2){
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &:last-child{
        bottom: 0;
      }
    }
    &.active{
      .burger{
        background-color: red;
        &:first-child{
          transform: rotate(45deg);
          top: 13px;
        }
        &:nth-child(2){
          width: 0;
          left: 50%;
        }
        &:last-child{
          transform: rotate(-45deg);
          bottom: 13px;
        }
      }
    }
  }

  &__main{
    margin-bottom: 30px;

    .menu__menu{
      display: inline-block;
      padding: 0;
      margin: 0 0 80px 0;
      list-style: none;
      li{
        float: left;
        background-color: black;
        transition: all 300ms;
        &:hover{
          background-color: $color_red;
          a, span{
            color: white;
            text-decoration: none;
          }
        }
        &:last-child{
        }
        a, span{
          line-height: 30px;
          padding: 0 10px;
          color: white;
          cursor: pointer;
          display: block;
          width: 100%;
        }
        &.active{
          background-color: $color_red;
          a{
            color: white;
            text-decoration: none;
          }
        }
      }
      @include breakpoint(tablet){
        margin: 25px 0;
        li{
          float: none;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 8px;
          background: transparent;
          a{
            color: black;
          }
          &:hover{
            background-color: transparent;
            a{
              color: black;
              @include breakpoint(tablet){

              }
            }
          }
          &.active{
            background-color: transparent;
            border-left: 4px solid $color_red;
            a{
              color: black;
            }
          }
        }
      }
    }

    .sub_menu{
      position: relative;
      &.active{
        display: block;
        .sub_menu__menu{
          display: block;
          padding-bottom: 15px;
          height: auto;
        }
      }
      &__menu{
        //display: none;
        position: absolute;
        bottom: 100%;
        padding-bottom: 0;
        height: 0;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        transition: all 300ms;
        li{
          float: none;
        }
        &:after{
          content: '';
          display: block;
          position: absolute;
          bottom: 10px;
          left: calc(50% - 10px);
          width: 20px;
          height: 20px;
          transform: rotate(-45deg);
          background-color: black;
          z-index: -1;
        }
      }
    }

  }

  @include breakpoint(tablet){
    position: absolute;
    top: 0;
    padding-top: 50px;
    background: white;
    width: 100%;
    display: none;
    box-shadow: 0 0 20px 0 $color_red;
  }

}