<section class="section">
    <div class="image_gallery">
        <div class="slider_wrapper">
            <div class="row">
                <div class="col-md-2">
                    <div class="slider slider-nav">
                        {{ content }}
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="slider slider-for">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <div class="full_screen hidden">
            <div class="full_screen__close">
                <div class="close_1"></div>
                <div class="close_2"></div>
            </div>
            {% for image in images_original %}
                <span class="full_screen__data" data-src="{{ image.url }}" data-index="{{ image.index }}"></span>
            {% endfor %}
        </div>
    </div>


</section>