<div class="slider_wrapper">
    <div class="row">
        <div class="col-md-2">
            <div class="slider slider-nav">
                {{ content }}
            </div>
        </div>
        <div class="col-md-10">
            <div class="slider slider-for">
                {{ content }}
            </div>
        </div>
    </div>
</div>

