{% if content.field_url_partenaire[0] %}
    <div class="col-xl-4 align-middle"><a href="{{ content.field_url_partenaire }}">
            {{ content.field_logo_partenaire }}
        </a>
    </div>
{% else %}
    <div class="col-xl-4">
        {{ content.field_logo_partenaire }}
    </div>
{% endif %}