/* line 1, ../sass/sass/include/common/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/sass/include/common/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/sass/include/common/reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/sass/include/common/reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/sass/include/common/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/sass/include/common/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/sass/include/common/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../sass/sass/include/common/wysiwyg.scss */
h1 {
  font-size: 36px;
}

/* line 6, ../sass/sass/include/common/wysiwyg.scss */
h2 {
  font-size: 34px;
}

/* line 9, ../sass/sass/include/common/wysiwyg.scss */
h3 {
  font-size: 32px;
}

/* line 12, ../sass/sass/include/common/wysiwyg.scss */
h4 {
  font-size: 16px;
}

/* line 15, ../sass/sass/include/common/wysiwyg.scss */
h5 {
  font-size: 14px;
}

/* line 18, ../sass/sass/include/common/wysiwyg.scss */
h6 {
  font-size: 12px;
}

/* line 21, ../sass/sass/include/common/wysiwyg.scss */
strong {
  font-weight: bold;
}

/* line 24, ../sass/sass/include/common/wysiwyg.scss */
em {
  font-style: italic;
}

/* line 27, ../sass/sass/include/common/wysiwyg.scss */
ul {
  list-style: inherit;
}

/* line 30, ../sass/sass/include/common/wysiwyg.scss */
ol {
  list-style: inherit;
}

/* line 33, ../sass/sass/include/common/wysiwyg.scss */
.text-align-left {
  text-align: left;
}

/* line 36, ../sass/sass/include/common/wysiwyg.scss */
.text-align-right {
  text-align: right;
}
@media (max-width: 1199px) {
  /* line 36, ../sass/sass/include/common/wysiwyg.scss */
  .text-align-right {
    text-align: center;
  }
}

/* line 42, ../sass/sass/include/common/wysiwyg.scss */
.text-align-center {
  text-align: center;
}

/* line 45, ../sass/sass/include/common/wysiwyg.scss */
.text-align-justify {
  text-align: justify;
}

/* line 3, ../sass/sass/include/common/common.scss */
* {
  text-align: justify;
}

/* line 7, ../sass/sass/include/common/common.scss */
.sidebar {
  height: 100%;
  position: relative;
}
/* line 10, ../sass/sass/include/common/common.scss */
.sidebar .wrapper {
  padding-top: 140px;
  max-width: 100%;
}
@media (max-width: 1199px) {
  /* line 10, ../sass/sass/include/common/common.scss */
  .sidebar .wrapper {
    padding-top: 0;
  }
}
/* line 18, ../sass/sass/include/common/common.scss */
.sidebar.logo-top .wrapper {
  padding-top: 0;
  padding-bottom: 30px;
}
@media (max-width: 1199px) {
  /* line 23, ../sass/sass/include/common/common.scss */
  .sidebar .link {
    display: block;
  }
}
/* line 28, ../sass/sass/include/common/common.scss */
.sidebar .logo {
  max-width: 130px;
  display: block;
  margin: 0 auto 30px;
}
/* line 33, ../sass/sass/include/common/common.scss */
.sidebar .page_title {
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}
@media (max-width: 1199px) {
  /* line 7, ../sass/sass/include/common/common.scss */
  .sidebar {
    margin-bottom: 50px;
  }
}

/* line 44, ../sass/sass/include/common/common.scss */
.label {
  font-size: 18px;
  margin: auto;
  text-align: center;
}

/* line 50, ../sass/sass/include/common/common.scss */
.visible {
  display: block;
}

@media (min-width: 1200px) {
  /* line 54, ../sass/sass/include/common/common.scss */
  .desktop-hidden {
    display: none;
  }
}

@media (max-width: 1199px) {
  /* line 60, ../sass/sass/include/common/common.scss */
  .tablet-hidden {
    display: none;
  }
}

@media (max-width: 1199px) {
  /* line 66, ../sass/sass/include/common/common.scss */
  .tablet-visible {
    display: block !important;
  }
}

@media (max-width: 767px) {
  /* line 72, ../sass/sass/include/common/common.scss */
  .mobile-hidden {
    display: none;
  }
}

/* line 6, ../sass/sass/include/menu/menu.scss */
.menu .menu_logo {
  position: absolute;
  max-width: 130px;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
}
/* line 14, ../sass/sass/include/menu/menu.scss */
.menu__burger {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}
/* line 21, ../sass/sass/include/menu/menu.scss */
.menu__burger .burger {
  width: 40px;
  height: 4px;
  background-color: black;
  position: absolute;
  border-radius: 2px;
  transition: all 300ms;
}
/* line 28, ../sass/sass/include/menu/menu.scss */
.menu__burger .burger:first-child {
  top: 0;
}
/* line 31, ../sass/sass/include/menu/menu.scss */
.menu__burger .burger:nth-child(2) {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/* line 36, ../sass/sass/include/menu/menu.scss */
.menu__burger .burger:last-child {
  bottom: 0;
}
/* line 41, ../sass/sass/include/menu/menu.scss */
.menu__burger.active .burger {
  background-color: red;
}
/* line 43, ../sass/sass/include/menu/menu.scss */
.menu__burger.active .burger:first-child {
  transform: rotate(45deg);
  top: 13px;
}
/* line 47, ../sass/sass/include/menu/menu.scss */
.menu__burger.active .burger:nth-child(2) {
  width: 0;
  left: 50%;
}
/* line 51, ../sass/sass/include/menu/menu.scss */
.menu__burger.active .burger:last-child {
  transform: rotate(-45deg);
  bottom: 13px;
}
/* line 59, ../sass/sass/include/menu/menu.scss */
.menu__main {
  margin-bottom: 30px;
  z-index: 1;
}
/* line 63, ../sass/sass/include/menu/menu.scss */
.menu__main .menu__menu {
  display: inline-block;
  padding: 0;
  margin: 0 0 80px 0;
  list-style: none;
}
/* line 68, ../sass/sass/include/menu/menu.scss */
.menu__main .menu__menu li {
  float: left;
  background-color: white;
  transition: all 300ms;
  border: 1px solid black;
  box-sizing: border-box;
  border-right: none;
}
/* line 75, ../sass/sass/include/menu/menu.scss */
.menu__main .menu__menu li:last-child {
  border-right: 1px solid black;
}
/* line 78, ../sass/sass/include/menu/menu.scss */
.menu__main .menu__menu li:hover {
  background-color: #b50000;
}
/* line 80, ../sass/sass/include/menu/menu.scss */
.menu__main .menu__menu li:hover > a {
  color: white;
  background-color: #b50000;
  text-decoration: none;
}
/* line 85, ../sass/sass/include/menu/menu.scss */
.menu__main .menu__menu li:hover div > span {
  text-decoration: none;
}
@media (min-width: 1200px) {
  /* line 85, ../sass/sass/include/menu/menu.scss */
  .menu__main .menu__menu li:hover div > span {
    color: white;
  }
}
/* line 94, ../sass/sass/include/menu/menu.scss */
.menu__main .menu__menu li a, .menu__main .menu__menu li span {
  line-height: 30px;
  padding: 0 10px;
  color: black;
  cursor: pointer;
  display: block;
  width: 100%;
}
/* line 102, ../sass/sass/include/menu/menu.scss */
.menu__main .menu__menu li.active {
  background-color: #b50000;
}
/* line 104, ../sass/sass/include/menu/menu.scss */
.menu__main .menu__menu li.active a {
  color: white;
  text-decoration: none;
}
/* line 108, ../sass/sass/include/menu/menu.scss */
.menu__main .menu__menu li.active div > span {
  text-decoration: none;
}
@media (min-width: 1200px) {
  /* line 108, ../sass/sass/include/menu/menu.scss */
  .menu__main .menu__menu li.active div > span {
    color: white;
  }
}
/* line 114, ../sass/sass/include/menu/menu.scss */
.menu__main .menu__menu li.active div > span + ul li a {
  color: black;
}
/* line 117, ../sass/sass/include/menu/menu.scss */
.menu__main .menu__menu li.active div > span + ul li:hover a {
  background-color: #b50000;
}
@media (min-width: 1200px) {
  /* line 117, ../sass/sass/include/menu/menu.scss */
  .menu__main .menu__menu li.active div > span + ul li:hover a {
    color: white;
  }
}
@media (min-width: 1200px) {
  /* line 124, ../sass/sass/include/menu/menu.scss */
  .menu__main .menu__menu li.active div > span + ul .active a {
    color: white;
  }
}
@media (max-width: 1199px) {
  /* line 63, ../sass/sass/include/menu/menu.scss */
  .menu__main .menu__menu {
    margin: 25px 0;
  }
  /* line 135, ../sass/sass/include/menu/menu.scss */
  .menu__main .menu__menu li {
    float: none;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    border-right: 1px solid black;
    border-bottom: none;
  }
  /* line 142, ../sass/sass/include/menu/menu.scss */
  .menu__main .menu__menu li:last-child {
    border-bottom: 1px solid black;
  }
  /* line 145, ../sass/sass/include/menu/menu.scss */
  .menu__main .menu__menu li a, .menu__main .menu__menu li span {
    color: black;
  }
  /* line 148, ../sass/sass/include/menu/menu.scss */
  .menu__main .menu__menu li:hover {
    background-color: transparent;
  }
  /* line 150, ../sass/sass/include/menu/menu.scss */
  .menu__main .menu__menu li:hover a, .menu__main .menu__menu li:hover span {
    color: black;
  }
  /* line 154, ../sass/sass/include/menu/menu.scss */
  .menu__main .menu__menu li.active {
    background-color: transparent;
    border-left: 4px solid #b50000;
  }
  /* line 157, ../sass/sass/include/menu/menu.scss */
  .menu__main .menu__menu li.active a, .menu__main .menu__menu li.active span {
    color: black;
  }
}
/* line 165, ../sass/sass/include/menu/menu.scss */
.menu__main .sub_menu {
  position: relative;
}
/* line 167, ../sass/sass/include/menu/menu.scss */
.menu__main .sub_menu.active {
  display: block;
  border: none;
}
/* line 170, ../sass/sass/include/menu/menu.scss */
.menu__main .sub_menu.active .sub_menu__menu {
  display: block;
}
@media (max-width: 1199px) {
  /* line 170, ../sass/sass/include/menu/menu.scss */
  .menu__main .sub_menu.active .sub_menu__menu {
    padding-bottom: 0;
  }
}
/* line 177, ../sass/sass/include/menu/menu.scss */
.menu__main .sub_menu__menu {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 100%;
  padding-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
/* line 186, ../sass/sass/include/menu/menu.scss */
.menu__main .sub_menu__menu li {
  float: none;
  border-right: 1px solid black;
  border-bottom: none;
}
@media (max-width: 1199px) {
  /* line 186, ../sass/sass/include/menu/menu.scss */
  .menu__main .sub_menu__menu li {
    border: none;
  }
}
/* line 193, ../sass/sass/include/menu/menu.scss */
.menu__main .sub_menu__menu li:last-child {
  border-bottom: 1px solid black;
}
@media (max-width: 1199px) {
  /* line 193, ../sass/sass/include/menu/menu.scss */
  .menu__main .sub_menu__menu li:last-child {
    border: none;
  }
}
/* line 200, ../sass/sass/include/menu/menu.scss */
.menu__main .sub_menu__menu:after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  background-color: black;
  z-index: -1;
}
@media (max-width: 1199px) {
  /* line 177, ../sass/sass/include/menu/menu.scss */
  .menu__main .sub_menu__menu {
    bottom: auto;
    padding-bottom: 0;
    transform: translateX(0);
    position: inherit;
    top: 100%;
    left: 0;
    padding-left: 20px;
  }
  /* line 220, ../sass/sass/include/menu/menu.scss */
  .menu__main .sub_menu__menu:after {
    display: none;
  }
}
@media (max-width: 1199px) {
  /* line 225, ../sass/sass/include/menu/menu.scss */
  .menu__main .sub_menu__link {
    color: black;
  }
}
@media (max-width: 1199px) {
  /* line 4, ../sass/sass/include/menu/menu.scss */
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    background: white;
    width: 100%;
    display: none;
    box-shadow: 0 0 20px 0 #b50000;
  }
}

/* line 1, ../sass/sass/include/menu/footer.scss */
.footer {
  background-color: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
}
/* line 20, ../sass/sass/include/menu/footer.scss */
.footer .phone__link {
  text-decoration: none;
}
/* line 23, ../sass/sass/include/menu/footer.scss */
.footer .phone__number {
  font-size: 25px;
  color: white;
  transition: color 300ms;
}
@media (max-width: 767px) {
  /* line 23, ../sass/sass/include/menu/footer.scss */
  .footer .phone__number {
    font-size: 20px;
  }
}
/* line 30, ../sass/sass/include/menu/footer.scss */
.footer .phone__number:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/phone.svg");
}
/* line 43, ../sass/sass/include/menu/footer.scss */
.footer .phone__number:hover {
  color: red;
}
/* line 49, ../sass/sass/include/menu/footer.scss */
.footer__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 60, ../sass/sass/include/menu/footer.scss */
.footer__icon.facebook {
  background-image: url("../images/facebook.svg");
}
/* line 63, ../sass/sass/include/menu/footer.scss */
.footer__icon.twitter {
  background-image: url("../images/twitter.svg");
}
/* line 66, ../sass/sass/include/menu/footer.scss */
.footer__icon.google {
  background-image: url("../images/google.svg");
}
/* line 72, ../sass/sass/include/menu/footer.scss */
.footer .copyright {
  display: block;
  text-align: center;
  width: 100%;
  color: #919191;
}

/* line 3, ../sass/sass/include/page/page.scss */
.page {
  padding-top: 15vh !important;
  position: relative;
  min-height: 100vh;
}
@media (max-width: 1199px) {
  /* line 3, ../sass/sass/include/page/page.scss */
  .page {
    padding-top: 50px !important;
  }
}
/* line 10, ../sass/sass/include/page/page.scss */
.page__bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
}
@media (max-width: 1199px) {
  /* line 10, ../sass/sass/include/page/page.scss */
  .page__bottom {
    position: initial;
  }
}
/* line 18, ../sass/sass/include/page/page.scss */
.page .content {
  padding-bottom: 100px;
}

/* line 23, ../sass/sass/include/page/page.scss */
.section {
  margin-bottom: 50px;
}
@media (max-width: 1199px) {
  /* line 23, ../sass/sass/include/page/page.scss */
  .section {
    margin-bottom: 0;
  }
}
/* line 28, ../sass/sass/include/page/page.scss */
.section.text-image {
  margin-bottom: 80px;
}

/* line 3, ../sass/sass/include/page/slider.scss */
.image_gallery .slider-nav {
  overflow: hidden;
  position: relative;
}
/* line 6, ../sass/sass/include/page/slider.scss */
.image_gallery .slider-nav img {
  cursor: pointer;
  filter: brightness(1);
  transition: filter 200ms;
}
/* line 10, ../sass/sass/include/page/slider.scss */
.image_gallery .slider-nav img:hover {
  filter: brightness(0.8);
}
/* line 17, ../sass/sass/include/page/slider.scss */
.image_gallery .slider-for img {
  cursor: pointer;
  filter: brightness(1);
  transition: filter 200ms;
}
/* line 21, ../sass/sass/include/page/slider.scss */
.image_gallery .slider-for img:hover {
  filter: brightness(0.8);
}
/* line 27, ../sass/sass/include/page/slider.scss */
.image_gallery .slick-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  height: 35px;
  width: 50px;
}
/* line 34, ../sass/sass/include/page/slider.scss */
.image_gallery .slick-arrow:before {
  content: '';
  background-image: url("../images/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: block;
}
/* line 48, ../sass/sass/include/page/slider.scss */
.image_gallery .slick-prev {
  top: 0;
}
/* line 50, ../sass/sass/include/page/slider.scss */
.image_gallery .slick-prev:before {
  transform: rotate(90deg);
}
/* line 55, ../sass/sass/include/page/slider.scss */
.image_gallery .slick-next {
  top: auto;
  bottom: 0;
}
/* line 58, ../sass/sass/include/page/slider.scss */
.image_gallery .slick-next:before {
  transform: rotate(-90deg);
}
/* line 64, ../sass/sass/include/page/slider.scss */
.image_gallery .slick-dots li {
  display: none;
}
/* line 69, ../sass/sass/include/page/slider.scss */
.image_gallery .full_screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 999;
}
/* line 77, ../sass/sass/include/page/slider.scss */
.image_gallery .full_screen__close {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  transform: rotate(45deg);
}
/* line 85, ../sass/sass/include/page/slider.scss */
.image_gallery .full_screen__close .close_1, .image_gallery .full_screen__close .close_2 {
  transition: all 300ms;
  display: block;
  border-radius: 2px;
  background-color: white;
  width: 40px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 96, ../sass/sass/include/page/slider.scss */
.image_gallery .full_screen__close .close_1 {
  transform: rotate(90deg) translate(0px, 20px);
}
/* line 99, ../sass/sass/include/page/slider.scss */
.image_gallery .full_screen__close .close_2 {
  transform: translate(-20px, 0);
}
/* line 103, ../sass/sass/include/page/slider.scss */
.image_gallery .full_screen__close:hover .close_1, .image_gallery .full_screen__close:hover .close_2 {
  background-color: red;
}
/* line 108, ../sass/sass/include/page/slider.scss */
.image_gallery .full_screen__image {
  max-width: 80vw;
  max-height: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 118, ../sass/sass/include/page/slider.scss */
.image_gallery .full_screen.visible {
  display: block;
}

/* line 126, ../sass/sass/include/page/slider.scss */
.video_gallery .thumbnail__group {
  margin: 0 -5px;
}
/* line 129, ../sass/sass/include/page/slider.scss */
.video_gallery .thumbnail__link {
  padding: 5px;
  cursor: pointer;
  position: relative;
}
/* line 135, ../sass/sass/include/page/slider.scss */
.video_gallery .thumbnail__link:hover .thumbnail__image {
  filter: grayscale(100%);
}
/* line 138, ../sass/sass/include/page/slider.scss */
.video_gallery .thumbnail__link:hover .thumbnail__play {
  opacity: 1;
}
/* line 144, ../sass/sass/include/page/slider.scss */
.video_gallery .thumbnail__image {
  width: 100%;
  max-width: 100%;
  filter: grayscale(0);
  transition: all 300ms;
}
/* line 150, ../sass/sass/include/page/slider.scss */
.video_gallery .thumbnail__play {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: all 300ms;
}
/* line 167, ../sass/sass/include/page/slider.scss */
.video_gallery .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  height: 35px;
  width: 50px;
}
/* line 174, ../sass/sass/include/page/slider.scss */
.video_gallery .slick-arrow:before {
  content: '';
  background-image: url("../images/arrow_black.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: block;
}
/* line 188, ../sass/sass/include/page/slider.scss */
.video_gallery .slick-prev {
  left: -40px;
}
/* line 194, ../sass/sass/include/page/slider.scss */
.video_gallery .slick-next {
  right: -40px;
}
/* line 196, ../sass/sass/include/page/slider.scss */
.video_gallery .slick-next:before {
  transform: rotate(180deg);
}

/* line 3, ../sass/sass/include/page/partners.scss */
.partners img {
  width: 100%;
  padding: 0 10px;
}

/* line 3, ../sass/sass/include/page/text_image.scss */
.text_image__image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* line 5, ../sass/sass/include/page/contact.scss */
.contact-form label {
  margin: 0;
}
/* line 8, ../sass/sass/include/page/contact.scss */
.contact-form__element {
  margin: 0 0 15px 0;
}
/* line 10, ../sass/sass/include/page/contact.scss */
.contact-form__element textarea, .contact-form__element input {
  width: 100%;
  color: white;
  background-color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.75);
}
@media (max-width: 1199px) {
  /* line 10, ../sass/sass/include/page/contact.scss */
  .contact-form__element textarea, .contact-form__element input {
    font-size: 20px;
  }
}
/* line 23, ../sass/sass/include/page/contact.scss */
.contact-form #edit-submit {
  float: right;
  color: black;
  cursor: pointer;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.75);
  transition: all 300ms;
  padding: 10px 15px;
}
/* line 33, ../sass/sass/include/page/contact.scss */
.contact-form #edit-submit:hover {
  color: white;
  background: #b50000;
}
/* line 38, ../sass/sass/include/page/contact.scss */
.contact-form #edit-preview {
  display: none;
}
