.slider-nav{
  overflow: hidden;
  position: relative;
  img{
    cursor: pointer;
  }
}

.slider-for{
  img{
    cursor: pointer;
  }
}

.slick-arrow{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  height: 35px;
  width: 50px;
  &:before{
    content: '';
    background:{
      image: url('../images/arrow.svg');
      size: contain;
      repeat: no-repeat;
      position: center;
    }
    width: 100%;
    height: 100%;
    display: block;
  }
}

.slick-prev{
  top: 0;
  &:before{
    transform: rotate(90deg);
  }
}

.slick-next{
  top:auto;
  bottom: 0;
  &:before{
    transform: rotate(-90deg);
  }
}

.slick-dots{
  li{
    display: none;
  }
}

.full_screen{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 999;
  &__close{
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    transform: rotate(45deg);
    .close_1, .close_2{
      transition: all 300ms;
      display: block;
      border-radius: 2px;
      background-color: white;
      width: 40px;
      height: 4px;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    .close_1{
      transform: rotate(90deg) translate(0px, 20px);
    }
    .close_2{
      transform: translate(-20px, 0);
    }
    &:hover{
      .close_1, .close_2{
        background-color: red;
      }
    }
  }
  &__image{
    max-width: 80vw;
    max-height: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.full_screen.visible{
  display: block;
}