/* line 3, ../../../sass/sass/include/common/common.scss */
* {
  text-align: justify;
}

/* line 7, ../../../sass/sass/include/common/common.scss */
.sidebar {
  height: 100%;
  position: relative;
}
/* line 10, ../../../sass/sass/include/common/common.scss */
.sidebar .wrapper {
  padding-top: 140px;
  max-width: 100%;
}
@media (max-width: 1199px) {
  /* line 10, ../../../sass/sass/include/common/common.scss */
  .sidebar .wrapper {
    padding-top: 0;
  }
}
/* line 18, ../../../sass/sass/include/common/common.scss */
.sidebar.logo-top .wrapper {
  padding-top: 0;
  padding-bottom: 30px;
}
@media (max-width: 1199px) {
  /* line 23, ../../../sass/sass/include/common/common.scss */
  .sidebar .link {
    display: block;
  }
}
/* line 28, ../../../sass/sass/include/common/common.scss */
.sidebar .logo {
  max-width: 130px;
  display: block;
  margin: 0 auto 30px;
}
/* line 33, ../../../sass/sass/include/common/common.scss */
.sidebar .page_title {
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}
@media (max-width: 1199px) {
  /* line 7, ../../../sass/sass/include/common/common.scss */
  .sidebar {
    margin-bottom: 50px;
  }
}

/* line 44, ../../../sass/sass/include/common/common.scss */
.label {
  font-size: 18px;
  margin: auto;
  text-align: center;
}

/* line 50, ../../../sass/sass/include/common/common.scss */
.visible {
  display: block;
}

@media (min-width: 1200px) {
  /* line 54, ../../../sass/sass/include/common/common.scss */
  .desktop-hidden {
    display: none;
  }
}

@media (max-width: 1199px) {
  /* line 60, ../../../sass/sass/include/common/common.scss */
  .tablet-hidden {
    display: none;
  }
}

@media (max-width: 1199px) {
  /* line 66, ../../../sass/sass/include/common/common.scss */
  .tablet-visible {
    display: block !important;
  }
}

@media (max-width: 767px) {
  /* line 72, ../../../sass/sass/include/common/common.scss */
  .mobile-hidden {
    display: none;
  }
}
